@{
    ViewBag.Title = "Zalogowałeś sie!";
}

<h2>Zalogowałeś się!</h2>

@{
    ViewBag.Title = "Zalogowałeś się!";
}

<h2>After Login</h2>
@if (Session["LogedUser"] != null)
{
    <text>
        Witaj @Session["LogedUser"].ToString()
    </text>
}