@{
    ViewBag.Title = "Stacja meteorologiczna";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}
<h3>W skrócie:</h3>
<ol class="round">
    <li class="one">
        <h5>Stacja meteo</h5>
            Witam na stronie poświęconej pomiarom ze stacji pogodowej umieszczonej we Wrocławiu.
    </li>

    <li class="two">
        <h5>Projekt studencki</h5>
            Projekt na zaliczenie kursu.
    </li>

    <li class="three">
        <h5>Kontakt</h5>
        Aby skontaktować się z administratorem, zapraszam do zakładki kontakt.
        
    </li>
</ol>
